<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <title>django crud application</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container">
          <a class="navbar-brand" href="#">Dgango APP</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="/tasks">Tasks pending</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'tasks' %}">Tasks pending</a></li>
                <li class="nav-item"><a class="nav-link" href="/tasks_completed/">Tasks compelted</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'tasks_completed' %}">Tasks compelted</a></li>
                <li class="nav-item"><a class="nav-link" href="/tasks/create/">Create Task</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">LogOut</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="/signup">SignUP</a></li>
                <li class="nav-item"><a class="nav-link" href="/signin">SignIN</a></li>
                {% endif %}
            </ul>
            <form class="d-flex">
              <input class="form-control me-sm-2" type="search" placeholder="Search">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    
    <nav hidden>
        <ul>
            <li><a href="/">Home</a></li>
           
            
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="/tasks">Tasks pending</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'tasks' %}">Tasks pending</a></li>
            <li class="nav-item"><a class="nav-link" href="/tasks_completed/">Tasks compelted</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'tasks_completed' %}">Tasks compelted</a></li>
            <li class="nav-item"><a class="nav-link" href="/tasks/create/">Create Task</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">LogOut</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="/signup">SignUP</a></li>
            <li class="nav-item"><a class="nav-link" href="/signin">SignIN</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %} 
    


    {% endblock %}


</body>
</html>