{% extends 'base.html'  %}

{% block content %}


<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django APP</h1>
       
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat recusandae dicta excepturi doloribus ab eveniet similique dignissimos id quo reiciendis dolorum facilis atque, molestiae provident delectus nisi tempore rem voluptatem?
              Deleniti facere possimus obcaecati ullam, illum a quo nihil enim explicabo quae deserunt, expedita sunt, quis neque velit cum magnam. Deserunt incidunt, quaerat hic reiciendis laudantium odio necessitatibus ad molestias!
              Optio non soluta quos, neque eum iusto voluptatum odit tenetur aliquid amet, minus delectus. Sunt dolor temporibus laudantium ipsam! Architecto cupiditate porro dignissimos aperiam perferendis nemo debitis, optio voluptatem autem.
              Corrupti itaque saepe accusantium nesciunt quasi qui totam necessitatibus labore? Doloremque iure, mollitia nesciunt voluptates nobis nisi. Dolores enim vel commodi voluptates minima hic saepe eaque. Obcaecati illum repellendus at?
              Quasi cum modi dolores sapiente reprehenderit maxime inventore hic aliquid ipsa corrupti, at beatae corporis nisi distinctio aliquam, exercitationem illum esse consectetur voluptas officiis ad cumque adipisci. Pariatur, molestiae earum?
              Exercitationem aliquid numquam consectetur quaerat at. Voluptates, dignissimos laudantium! Inventore iure laudantium labore? Hic, similique laudantium. Nobis maxime, ea, quaerat animi alias aliquam esse velit exercitationem tenetur ad, assumenda libero.
              Numquam rem perspiciatis vitae tempore esse corporis quibusdam, repellat quisquam quos ipsam similique nobis, rerum impedit. Debitis laborum, sapiente incidunt obcaecati minus ratione sequi, nesciunt perferendis blanditiis sit, doloremque eos!
              Eos magni fugiat ratione nemo velit praesentium, cumque incidunt nihil officiis ea. Dignissimos nostrum officiis alias facilis, nulla rerum nobis? Suscipit numquam labore ipsa, esse molestiae a odit quae voluptas!
              Ea saepe velit error asperiores dolores, soluta labore accusantium assumenda ducimus repellat fugit quis porro mollitia voluptatem libero quas maxime non laborum qui modi hic deserunt odio minus maiores. Facilis!
              Eligendi mollitia eum similique distinctio? Iusto officia debitis esse asperiores, soluta veniam perspiciatis molestias provident quae atque aliquid corrupti dolore assumenda dolorum eum? Fuga inventore praesentium illo aliquam! Corporis, facilis?</p>
            
          <div class="text-center">
            <a class="btn btn-warning" href="{% url 'signin' %}">sign in</a>
            <a class="btn btn-primary" href="{% url 'signup' %}">sign out</a>
          </div>
         
          
    </section>
</main>




{% endblock %}

