{% extends 'base.html'  %}

{% block content %}






<main class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">tasks pending</h1>
            <ul class="list-group">
                {% for task in tasks %}
                <li class="list-group-item">
                 <a href="{% url 'task_detail' task.id %}">
                    {% if task.important %}
                    <h1 style="color: red;">{{ task.title }}</h1>
                    {% else %}
                    <h5>{{ task.title }}</h5>
                    {% endif %}
                   
                    <h2>{{ task.important }}</h2>
                    <h3>{{ task.user.username }}</h3>
                    <h4> <h2>{{ task.description }}</h2></h4>
            
                    <h2>{{ task.datecompleted|date:'M j Y:i' }}</h2>
                 </a>
                </li>
                
                {% endfor %}
            
            </ul>
        </div>
    </div>
</main>


{% endblock %}